<!doctype html>
<html>
    <header>
        <title>Le Chateaubriand - Cin&eacute;ma de Combourg</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bande_annonce.css') }}">
    </header>
    <body>
        <div class="page-header">
            <img style="float: right; margin: 0px 0px 0px 0px;" src="{{ url_for('static', filename='LogoTitle.jpg') }}" width="300" />
            <h1>Gestion des bandes annonces</h1>
            <table>
                <tr>
                    <td><h4><a class="white" href="{{ url_for('index') }}">accueil</a><h4></td>
                    <td><h4><a class="white" href="{{ url_for('show_playlist') }}">voir les playlists</a><h4></td>
                </tr>
            </table>
        </div>
        {% block content %}
        {% endblock %}

    </body>
</html>