{% extends 'layout.html' %}

{% block content %}

    <div class="paragraphe">
        <h2 class="blue">playlist en cours:</h2>
        {% for content in playlist %}
            <p class="white align_left">{{ content }}</p>
        {% endfor %}
    </div>

    <div class="paragraphe">
        <h2 class="blue">liste de toutes les bandes annonces:</h2>
        {% for trailer in trailer_list %}
            <p class="white align_left">{{ trailer }}</p>
        {% endfor %}
    </div>

    <div class="paragraphe">
        <h2 class="blue">liste de tous les slides:</h2>
        {% for slide in slide_list %}
            <p class="white align_left">{{ slide }}</p>
        {% endfor %}
    </div>

    <div class="paragraphe">
        <h2 class="blue">liste des films diffusés en boucle:</h2>
        {% for looped_movie in looped_movie_list %}
            <p class="white align_left">{{ looped_movie }}</p>
        {% endfor %}
    </div>

    <div class="paragraphe">
        <h2 class="blue">liste des slides diffusés en boucle:</h2>
        {% for looped_slide in looped_slide_list %}
            <p class="white align_left">{{ looped_slide }}</p>
        {% endfor %}
    </div>

{% endblock %}